.content{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 0 50px;
}
.todo{
    display: flex;
    padding: 5px 15px;
    border: black 5px solid;
   justify-content: space-between;
}
.content button{
    outline: none;
    background-color: #e8e8e8;
    padding: 10px 20px;
    font-size: 24px;
}
